body{

    background-color: rgba(50, 65, 80, 0.9);
}
.container{
    padding: 50px;
    width: 50%;
    margin: 50px;
    border: 2px solid wheat;
    border-radius: 10px ;
    background-color: rgba(174, 185, 196,0.9) ;
    align-content: center !important;
    
    
}
.from-control ,input[type=text], input[type=number]{
    width: 50%;
    padding: 9px;
    margin: 5px 0 3px 0;
    background: rgba(253, 253, 255, 0.9);
    border-radius: 10px ;
    align-content: center !important;
}

#submit{
    padding: 10px 28px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    border: 2px solid rgb(235, 191, 109);
    border-radius: 10px ;
}
#submit:hover{
    background-color: rgb(235, 191, 109);
    color: white;
}

#show , #names{
    display: none;
    
}
#names {
    padding: auto;
}

.column {
    float: left;
    width: 25.33%;
    padding: 15px;
    margin: 13px;
    margin-left: 45px;
    height: 300px; /* Should be removed. Only for demonstration */
    border: 2px solid rgb(235, 191, 109);
    background: rgba(253, 253, 255, 0.8);
    border-radius: 10px ;
  }
  